Repository see-the-glory/on-you-frontend, pull requests merged in 2022-06, with the labels that each got.

#16 Club API
  App.js
  api.ts
  assets/basic.jpg
  navigation/ClubCreationStack.tsx
  package-lock.json
  package.json
  screens/ClubCreation/StepOne.tsx
  screens/ClubCreation/StepThree.tsx
  screens/ClubCreation/StepTwo.tsx
  screens/Clubs.tsx
  yarn.lock
Labels: enhancement

#18 220530 android test
  App.js
  android/app/proguard-rules.pro
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/res/values/strings.xml
  android/build.gradle
  ios/Podfile.lock
  ios/onyoufrontend.xcodeproj/project.pbxproj
  navigation/LoginStack.tsx
  package-lock.json
  package.json
  yarn.lock
Labels: 🤖 android

#19 220524 Club Home Renewal
  components/ClubHeader.tsx
  components/ClubTabBar.tsx
  navigation/ClubCreationStack.tsx
  navigation/ClubTopTabs.tsx
  navigation/LoginStack.tsx
  navigation/Tabs.tsx
  package-lock.json
  package.json
  screens/Club/ClubHome.tsx
  screens/ClubCreation/ClubCreationStepOne.tsx
  screens/ClubCreation/ClubCreationStepThree.tsx
  screens/ClubCreation/ClubCreationStepTwo.tsx
  screens/Clubs.tsx
  screens/HomeRelevant/CreateHomePeed.tsx
  screens/HomeRelevant/ImageSelecter.tsx
  types/club.ts
  yarn.lock
Labels: 🍗 enhancement, 🏃🏻‍♀️ in progress, 📱 iOS

#20 220614 login
  App.js
  api.ts
  assets/kakao_logo.png
  assets/logo.png
  ios/Podfile.lock
  navigation/App.tsx
  navigation/IntroTemp.tsx
  navigation/LoginStack.tsx
  package-lock.json
  package.json
  screens/Login/KakaoAuth.tsx
  screens/Profile.tsx
  store/actions.js
  store/index.js
  store/reducers.js
  yarn.lock
Labels: 🍗 enhancement, 🤖 android, 📱 iOS
